/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
ingame-ui#ThermalSimPanel {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100% !important;
  width: 100% !important;
  /*border: 2px solid blue !important;*/
}
ingame-ui#ThermalSimPanel #ThermalSimPanelWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  /*border: 2px solid red !important;*/
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#ThermalSimPanel #ThermalSimPanelWrap #ThermalSimIframe {
  flex: 1 1 auto !important;
  border: 0;
}
ingame-ui#ThermalSimPanel #MainDisplay.hidden {
  display: none;
}
ingame-ui#ThermalSimPanel #Footer.hidden {
  display: none;
}
