
@font-face {
  font-family: digitalFont;
  src: url(digital-7.ttf);
}

.sim-input-container {
    height: 100%;
    width: 50%;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(96, 96, 96);
    font-size: 12px;
    font-family: system-ui;
    font-weight: 500;
    
    border: solid 2px rgb(96,96,96);
    background: linear-gradient(to bottom right, black, rgb(32,32,32));
    box-shadow: 2px 2px 0 0 rgb(32, 32, 32);
    border-radius: 8px;
  }
  .sim-input-container .led-display {
    height: 90%;
    width: 80%;
    background-color: rgb(96, 96, 96);
    color: rgb(32,32,32);
    margin: 8px;
    font-family: digitalFont;
    font-weight: bold;
    font-size: 48px;
    padding: 0px 0px 0px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
  .input-display-button-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sim-input-container.turned-on {
    color: rgb(255, 255, 240);
    background: linear-gradient(to bottom right, rgb(32,32,32), rgb(72,72,72));
  }
  .sim-input-container.turned-on .led-display {
    color: rgb(64,48,32);
    background-color: rgb(252, 200, 87);
    box-shadow: inset 0 0 4px 2px rgb(255, 241, 199);
  }
  .sim-input-container.turned-on button {
    box-shadow: inset 0 0 1px 3px rgb(255, 255, 240);
    color: rgb(255, 255, 240);
    background: linear-gradient(to bottom right, rgb(32,32,32), rgb(72,72,72));
    font-weight: 600;
  }
  
  .sim-input-container-small {
    height: 28px;
    width: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(96, 96, 96);
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
    
    border: solid 2px rgb(96,96,96);
    background: linear-gradient(to bottom right, black, rgb(32,32,32));
    box-shadow: 2px 2px 0 0 rgb(32, 32, 32);
    border-radius: 8px;
  }
  .sim-input-container-small .led-display {
    height: 24px;
    width: 82px;
    background-color: rgb(96, 96, 96);
    color: rgb(32,32,32);
    font-family: digitalFont;
    font-weight: bold;
    font-size: 24px;
    padding: 0px 0px 0px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
  .sim-input-container-small .led-display.turned-on {
    color: rgb(64,48,32);
    background-color: rgb(252, 200, 87);
    box-shadow: inset 0 0 4px 2px rgb(255, 241, 199);
  }

  .sim-input-container-small label {
    color: white;    
    position: relative;
    top: -20px;
    font-size: 12px;
    left: 32px;
    height: 0;
  }