
.sim-tab-btn {
    box-shadow: inset 0 0 0 4px rgb(96, 96, 96);
    border-radius: 8px;
    margin: 4px;
    background: linear-gradient(to bottom right, black, rgb(32,32,32));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(96, 96, 96);
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
  }
  .sim-tab-btn svg {
    width: 48px;
    height: 48px;
    margin: 8px;
  }
  .sim-tab-btn svg path {
    fill:rgb(96, 96, 96);
  }
  .sim-tab-btn.turned-on {
    box-shadow: inset 0 0 1px 5px rgb(255, 255, 240);
    color: rgb(255, 255, 240);
    background: linear-gradient(to bottom right, rgb(32,32,24), rgb(72,72,64));
    font-weight: 600;
  }
  .sim-tab-btn.turned-on svg path {
    fill: rgb(255, 255, 240);
  }
  .sim-tab-btn:hover {
    border: solid 2px rgb(197, 197, 255);
    color: rgb(197, 197, 255);
  }
  .sim-tab-btn:hover svg path{
    fill: rgb(197, 197, 255);
  }
  
  .sim-btn-small {
    width: 48px;
    height: 32px;
    box-shadow: inset 0 0 0 2px rgb(96, 96, 96);
    border-radius: 4px;
    margin: 4px;
    background: linear-gradient(to bottom right, black, rgb(32,32,32));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(96, 96, 96);
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
  }
  .sim-btn-small.small-font {
    font-size: 12px;
  }
  .sim-btn-small.turned-on {
    box-shadow: inset 0 0 1px 3px rgb(255, 255, 240);
    color: rgb(255, 255, 240);
    background: linear-gradient(to bottom right, rgb(32,32,32), rgb(72,72,72));
    font-weight: 600;
  }
  .sim-btn-small:hover {
    border: solid 2px rgb(197, 197, 255);
    color: rgb(197, 197, 255);
  }
  .sim-btn-small svg {
    width: 48px;
    height: 48px;
    margin: 8px;
  }
  .sim-btn-small svg path {
    fill:rgb(96, 96, 96);
  }
  .sim-btn-small:hover svg path{
    fill: rgb(197, 197, 255);
  }
  
  