.thermal-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(96, 96, 96);
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
    
    border: solid 2px rgb(96,96,96);
    background: linear-gradient(to bottom right, black, rgb(32,32,32));
    box-shadow: 2px 2px 0 0 rgb(32, 32, 32);
    border-radius: 8px;
}

.thermal-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thermal-compass-container {
    width: 400px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}    

.thermal-compass-img {
    width: 350px;
    height: 350px;
    background: white;
    border-radius: 100%;
    z-index: 2;
}

.airplane-icon {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 4;
}
.heading-line {
    position: absolute;
    width: 4px;
    height: 200px;
    top: 250px;
    background-color: yellow;
    border-radius: 4px;
    z-index: 3;
}

.nearest-thermal-indicator {
    position: absolute;
    width: 410px;
    height: 410px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 1;
}
.nearest-thermal-indicator svg {
    width: 35px;
    height: 35px;
}

.wind-indicator {
    position: absolute;    
    width: 414px;
    height: 414px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}
.wind-indicator svg {
    width: 35px;
    height: 35px;
}

.lift-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.positive-lift-bar-container {
    width: 12px;
    height: 140px;
    background-color: rgb(96, 96, 96);
    border-left: solid 2px white;
    border-top: solid 2px white;
    border-right: solid 2px white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.positive-lift-bar {
    width: 12px;
    height: 50%;
    background-color: rgb(100,255,100);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.negative-lift-bar-container {
    width: 12px;
    height: 140px;
    background-color: rgb(96, 96, 96);
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.negative-lift-bar {
    width: 12px;
    height: 50%;
    background-color: rgb(255,100,100);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.thermal-status-indicator {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: linear-gradient(to bottom right, black, rgb(32,32,32));
    border: solid 2px rgb(96, 96, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    box-shadow: 2px 1px 0 0 rgb(64, 64, 64);
}
.thermal-status-indicator svg {
    width: 32px;
    height: 32px;
}

.thermal-panel-buttons {
    width: 400px;
    height: 420px;
    position: absolute;
    z-index: 10;
}