.aspect-ratio-outter-1-1 {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.aspect-ratio-outter-3-2 {
  height: 0;
  overflow: hidden;
  padding-top: 150%;
  position: relative;
}

.aspect-ratio-outter-4-3 {
  height: 0;
  overflow: hidden;
  padding-top: 133%;
  position: relative;
}

.aspect-ratio-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.thermal-sim-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom right, rgb(32, 32, 32), rgb(48, 48, 48));
  border-radius: 8px;
  border: solid 4px rgb(96,96,96);
  min-width: 450px;
}

.main-panel {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-panel h1 {
  color: rgb(196, 196, 196);
  font-family: system-ui;
  font-weight: 500;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scrolling-content {
  flex: 1;
  overflow: auto; 
}
