
@font-face {
  font-family: digitalFont;
  src: url(digital-7.ttf);
}

.thermal-sim-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 684px;
  width: 540px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgb(32, 32, 32, 0.9));
  border-radius: 8px;
  padding: 8px;
}

.main-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 640px;
  width: 536px;
}

.sim-tab-btn {
  width: 128px;
  height: 128px;
  box-shadow: inset 0 0 0 4px rgb(96, 96, 96);
  border-radius: 8px;
  margin: 4px;
  background: linear-gradient(to bottom right, black, rgb(64,64,64));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-family: system-ui;
  font-weight: 500;
}
.sim-tab-btn svg {
  width: 48px;
  height: 48px;
  margin: 8px;
}
.sim-tab-btn svg path {
  fill:rgb(96, 96, 96);
}
.sim-tab-btn.turned-on {
  box-shadow: inset 0 0 1px 5px rgb(255, 255, 240);
  color: rgb(255, 255, 240);
  background: linear-gradient(to bottom right, rgb(32,32,24), rgb(72,72,64));
  font-weight: 600;
}
.sim-tab-btn.turned-on svg path {
  fill: rgb(255, 255, 240);
}
.sim-tab-btn:hover {
  border: solid 2px rgb(197, 197, 255);
  color: rgb(197, 197, 255);
}
.sim-tab-btn:hover svg path{
  fill: rgb(197, 197, 255);
}

.sim-btn-small {
  width: 48px;
  height: 32px;
  box-shadow: inset 0 0 0 2px rgb(96, 96, 96);
  border-radius: 4px;
  margin: 4px;
  background: linear-gradient(to bottom right, black, rgb(64,64,64));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-family: system-ui;
  font-weight: 500;
}
.sim-btn-small.turned-on {
  box-shadow: inset 0 0 1px 3px rgb(255, 255, 240);
  color: rgb(255, 255, 240);
  background: linear-gradient(to bottom right, rgb(32,32,32), rgb(72,72,72));
  font-weight: 600;
}
.sim-btn-small:hover {
  border: solid 2px rgb(197, 197, 255);
  color: rgb(197, 197, 255);
}
.sim-btn-small svg {
  width: 48px;
  height: 48px;
  margin: 8px;
}
.sim-btn-small svg path {
  fill:rgb(96, 96, 96);
}
.sim-btn-small:hover svg path{
  fill: rgb(197, 197, 255);
}


.sim-input-container {
  height: 120px;
  width: 256px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-family: system-ui;
  font-weight: 500;
  
  border: solid 2px rgb(96,96,96);
  background: linear-gradient(to bottom right, rgb(32,32,32), rgb(64,64,64));
  box-shadow: 2px 2px 0 0 rgb(32, 32, 32);
  border-radius: 8px;
}
.sim-input-container input {
  height: 72px;
  width: 160px;
  min-width: 160px;
  min-height: 72px;
  background-color: rgb(96, 96, 96);
  color: rgb(0, 0, 0, 0.6);
  margin: 8px;
  font-family: digitalFont;
  font-weight: bold;
  font-size: 3em;
  padding: 0px 0px 0px 8px;
}
.input-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-display-button-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sim-input-container.turned-on {
  color: rgb(255, 255, 240);
  background: linear-gradient(to bottom right, rgb(32,32,32), rgb(72,72,72));
}
.sim-input-container.turned-on input {
  background-color: rgb(252, 200, 87);
  box-shadow: inset 0 0 4px 2px rgb(255, 241, 199);
}
.sim-input-container.turned-on button {
  box-shadow: inset 0 0 1px 3px rgb(255, 255, 240);
  color: rgb(255, 255, 240);
  background: linear-gradient(to bottom right, rgb(32,32,32), rgb(72,72,72));
  font-weight: 600;
}



.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
