.sim-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    
  background: rgba(255, 255, 255, 0.2)
}
.sim-tab-btn {
  width: 128px;
  height: 128px;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 2px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.sim-tab-btn:hover {
  background-color: rgba(197, 197, 255, 0.2);
  border: solid 2px rgba(197, 197, 255, 0.8);
  color: rgba(197, 197, 255, 0.8);
}

.sim-tab-btn:disabled {
  background-color: rgba(127, 127, 127, 0.5);
  border: solid 2px rgba(255, 255, 255, 0.5);
  color: rgba(127, 127, 127, 0.8);
}

.sim-tab-btn.turned-off {
  border: solid 2px rgba(255, 255, 255, 0.2);
  background-color: rgba(127, 127, 127, 0.2);
  color: rgba(255, 255, 255, 0.2);
}

.sim-tab-btn.selected {
  border: solid 2px rgba(127, 127, 255, 0.8);
  background-color: rgba(127, 127, 255, 0.2);
  color: rgba(127, 127, 255, 0.8);
}

.sim-tab-btn img {
  width: 64px;
  height: 64px;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 8px;
}

.sim-tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sim-tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.sim-input-container {
  color: rgba(255, 255, 255, 0.8);
}
.sim-input-container input {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(255, 255, 255, 0.8);
  margin: 8px;
}










/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
.flex-fill-view {
  display: flex;
  width: 100%;
  height: 100%;
}

ingame-ui#ThermalSimPanel {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100% !important;
  width: 100% !important;
  /*border: 2px solid blue !important;*/
}
ingame-ui#ThermalSimPanel #ThermalSimPanelWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  /*border: 2px solid red !important;*/
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#ThermalSimPanel #ThermalSimPanelWrap #ThermalSimIframe {
  flex: 1 1 auto !important;
  border: 0;
}
ingame-ui#ThermalSimPanel #MainDisplay.hidden {
  display: none;
}
ingame-ui#ThermalSimPanel #Footer.hidden {
  display: none;
}
